
%div.row
  %div.column.small-12
    %h1.street-fighter.sublabel.text-center
      Seasons
    = link_to 'New Season', new_room_season_path, class: "street-fighter font-white float-right"
%div.row
  %div.column.small-9.small-centered
    %table
      %thead
        %tr
          %td
            %h4.street-fighter
              \#
          %td
            %h4.street-fighter
              Name
          %td
            %h4.street-fighter
              Active
      %tbody
        - count = @seasons.count
        - @seasons.reverse.each_with_index do |season, index|
          %tr{"data-href": room_season_leaderboard_path(@room, season)}
            %td
              =link_to room_season_leaderboard_path(@room, season) do
                %h5.street-fighter
                  = @seasons.count - index
            %td
              =link_to room_season_leaderboard_path(@room, season) do
                %h5.street-fighter
                  = season.name
            %td
              =link_to room_season_leaderboard_path(@room, season) do
                %h5.street-fighter
                  = season.active ? "<<<<<" : ""
