.background-color-primary
  .row
    .small-12.medium-8.medium-offset-2.end.background-color-secondary
      .row
        .small-8.small-offset-2.medium-8.medium-offset-2.columns.end
          %h3.center.white.margin-bottom-10
            Atlanta Hub Bathroom Stall Availability
      .row
        .small-12.medium-10.medium-offset-1.columns.end
          - @bathrooms.each do |bathroom|
            .row.background-color-ternary
              .small-12.center.columns
                %span.bathroom-header
                  =bathroom.name
            .row.background-color-ternary.bottom-border-primary.margin-bottom-10
              .small-12.small-up-2.columns
                - bathroom.stalls.each_with_index do |stall, index|
                  - if (index + 1 == bathroom.stalls.count)
                    .small-2.columns.center.end
                      = render partial: 'toilets', locals: { stall: stall }
                  - else
                    .small-2.columns.center
                      = render partial: 'toilets', locals: { stall: stall }
            %br

=# column_chart bathroom_stall_stats_path(bathroom_id: @bathrooms[0].id)
