%h1 Listing bathrooms

.row.medium-up-4
  - @bathrooms.each do |bathroom|
    .column
      %h5.center
        = bathroom.name
      .center
        = link_to image_tag("bathroom-stall-icon", border: 0, height: 175, width: 175), bathroom_path(bathroom.id)

%br

.center
  = button_to 'New Bathroom', new_bathroom_path, { class: 'button'}
