%script{:src => "/javascript/webcam.js"}
.title ADD player
%hr.players
=form_tag room_game_player_attach_image_post_path(player_id: @player.id, room_id: @id) do
  .row
    .columns.small-6
      #my_camera.center-vertical
      #results.center-vertical{style: "display:none; width: 320px; height: 240px;"}
    .columns.small-6
      .row.top.camera
        .center-vertical
          %input.take-snapshot.player-button.player-button-border{:onclick => "take_video()", :type => "button", :value => "Take Snapshot"}
          %input.retake-snapshot.player-button.player-button-border{:onclick => "retake_snapshot()", :type => "button", :value => "Retake Snapshot", :style => "display:none"}
          .top-text
      .row.bottom.camera
        .center-vertical
          #timer
          =submit_tag "Okay!", class: 'submit-image center player-button player-button-border'


%hr.players

:javascript
  Webcam.set({
    width: 320,
    height: 240,
    image_format: 'jpeg',
    jpeg_quality: 90
  });
  Webcam.attach( '#my_camera' );
  function take_snapshot() {
    $(".take-snapshot").css({"display":"none"});
    $(".top-text").text("Say Cheese!");
    var counter = 5;
    var id;
    id = setInterval(function() {
        counter--;
        if(counter < 0) {
          $("#timer").text('');
          $(".top-text").text('');
          Webcam.snap( function(data_uri) {
          toggle_things();
          document.getElementById('results').innerHTML =
            '<img src="'+data_uri+'"/>' +
            "<input id=\"capture_image\" type=\"hidden\" value=\""+data_uri+"\" name=\"capture[image]\">";
          } );
          clearInterval(id);
        } else {
          $("#timer").text('[' + counter + ']');
        }
    }, 1000);
  }
  function retake_snapshot() {
    toggle_things();
    document.getElementById('results').innerHTML = '';
    take_snapshot();
  }
  function toggle_things() {
    $("#timer").toggle();
    $(".submit-image").toggle();
    $(".retake-snapshot").toggle();
    $('#my_camera').toggle();
    $('#results').toggle();
  }
  function take_video() {
    console.log("start video");
    var counter = 150;
    var id;
    var pictures = [];
    var counter1 = 150;
    id = setInterval(function(){
      if(counter > 0){
        counter --;
        $('#timer').text(counter);
        Webcam.snap(function(data_uri){
          pictures.push(data_uri);
        });
      }
      if (counter==0 && counter1 == 150){
        toggle_things();
      }
      if((counter == 0) && (counter1 > 0)){
        document.getElementById('results').innerHTML = '';
        counter1--;
        $('#timer').text(counter1);
        document.getElementById('results').innerHTML =
          '<img src="'+pictures[150-counter1]+'"/>' +
          "<input id=\"capture_image\" type=\"hidden\" value=\""+pictures[150-counter1]+"\" name=\"capture[image]\">";
      }
      console.log(counter, counter1);
      if (counter<=0 && counter1<=0) {
        clearInterval(id);
      }

      
    }, 100);
  }
