%script{:src => "/javascript/webcam.js"}
.title ADD player
%hr.players
=form_tag room_game_player_attach_image_post_path(room_id: @id) do
  .row
    .columns.small-6
      #my_camera.center-vertical
      #results.center-vertical{style: "display:none; width: 320px; height: 240px;"}
    .columns.small-6
      %input.take-snapshot{:onclick => "take_snapshot()", :type => "button", :value => "Take Snapshot"}
      %input.retake-snapshot{:onclick => "retake_snapshot()", :type => "button", :value => "Retake Snapshot", :style => "display:none"}
      =submit_tag "Okay!"

%hr.players

:javascript
  Webcam.set({
    width: 320,
    height: 240,
    image_format: 'jpeg',
    jpeg_quality: 90
  });
  Webcam.attach( '#my_camera' );
  function take_snapshot() {
    Webcam.snap( function(data_uri) {
      toggle_things();
      document.getElementById('results').innerHTML =
        '<img src="'+data_uri+'"/>' +
        "<input id=\"capture_image\" type=\"hidden\" value=\""+data_uri+"\" name=\"capture[image]\">";
    } );
  }
  function retake_snapshot() {
    toggle_things();
    document.getElementById('results').innerHTML = '';
  }
  function toggle_things() {
    $(".take-snapshot").toggle();
    $(".retake-snapshot").toggle();
    $('#my_camera').toggle();
    $('#results').toggle();
  }
