=form_tag room_game_new_player_post_path(id: @id, player_id: @player.id) do
  .title Name your player
  %hr.players
  .scoring#table
    .game-column#question-mark-square
      .square ?
    .game-column#name-input-section
      %div#block-inline
        =label_tag :name, "name:", class:"name-text"
        =text_field_tag :name, "", class: "player-name-text-input"
        .keyboard
          .characters
            -alphabet.each_with_index do |letter, i|
              -if i%10 == 0
                <br>
              =link_to letter, '#', class: 'keyboard-buttons character', onclick: "append_character('#{letter}')"
          .characters#delete-and-submit
            =link_to "DEL", '#', class: 'keyboard-buttons delete', onclick: "remove_character()"
            =submit_tag "OK!", class: "keyboard-buttons submit"
  %hr.players
  .cancel-button-container
    =link_to "CANCEL", '#', class: 'cancel-button', onclick: "history.go(-1);"

  :javascript
    function append_character(letter) {
      var current_input = $(".player-name-text-input").val();
      if (current_input.length < 12) {
        $(".player-name-text-input").val(  $(".player-name-text-input").val() + letter);
      }
    }

    function remove_character() {
        var inputValue = $(".player-name-text-input").val();
        $(".player-name-text-input").val(inputValue.substring(0, inputValue.length-1));
    }

    window.onload = function() {
      document.getElementById("name").focus();
    };
