=form_tag room_game_new_player_post_path(id: @id) do
  =label_tag :name
  =text_field_tag :name, "", class: "player-name-input"


  -alphabet.each do |letter|
    .button{on_click: "append_letter"}=letter

  :javascript
    function append_letter() {
      $(".player-name-input input").val('test');
    }


  =submit_tag "OK!", class: "player-submit"
