=form_tag room_game_new_player_post_path(id: @id, player_id: @player.id) do
  .title Name your player
  %hr.players
  .scoring#table
    .game-column#question-mark-square
      .square ?
    .game-column#name-input-section
      %div#block-inline
        =label_tag :name, "name:", class:"name-text"
        =text_field_tag :name, "", class: "player-name-text-input"
        .keyboard
          .characters
            -alphabet.each_with_index do |letter, i|
              -if i%10 == 0
                <br>
              =link_to letter, '#', class: 'keyboard-buttons character', onclick: "append_character('#{letter}')"
          .characters.delete-row
            =link_to "DEL", '#', class: 'keyboard-buttons delete', onclick: "remove_character()"
    .game-column#pin-input-section
      %div#block-inline
        =label_tag "pin", "pin:", class:"pin-text"
        =password_field_tag "pin", "", class: "player-pin-text-input"
        .keyboard
          .digits
            -digits.each_with_index do |digit, i|
              -if i%3 == 0
                <br>
              =link_to digit, '#', class: "keyboard-buttons digit #{digit == '0' ? 'zero' : ''}", onclick: "append_pin_digit('#{digit}')"
          .digits.delete-row
            =link_to "DEL", '#', class: 'keyboard-buttons delete', onclick: "remove_pin_digit()"
  %hr.players
  .submit-cancel-button-container
    =button_tag "CANCEL", type: "button", class: 'cancel-button', onclick: "history.go(-1);"
    =link_to "NEW BADGE?", room_game_lookup_player_path(id: @id, badged_player_id: @player.id), class: 'new-badge-for-existing-player-button'
    =submit_tag "OK!", class: 'submit-button'

  :javascript
    function append_character(letter) {
      var current_input = $(".player-name-text-input").val();
      if (current_input.length < 12) {
        $(".player-name-text-input").val(  $(".player-name-text-input").val() + letter);
      }
    }

    function remove_character() {
        var inputValue = $(".player-name-text-input").val();
        $(".player-name-text-input").val(inputValue.substring(0, inputValue.length-1));
    }

    function append_pin_digit(digit) {
      var current_input = $(".player-name-text-input").val();
      if (current_input.length < 12) {
        $(".player-pin-text-input").val(  $(".player-pin-text-input").val() + digit);
      }
    }

    function remove_pin_digit() {
        var inputValue = $(".player-pin-text-input").val();
        $(".player-pin-text-input").val(inputValue.substring(0, inputValue.length-1));
    }

    window.onload = function() {
      document.getElementById("name").focus();
    };
