game new full
.center{:style => "position: relative; top: 1%;"}
  =form_tag game_new_post_path(id: @id) do
    =submit_tag "START QUICK GAME", class: "sf sf-button quick-game center", style: "width: 30em; height: 2em; font-size: 120%;"

%div{:style => "bottom: 0%; width: 100%; position: absolute; height: 45em; display:flex; background-color: rgba(255, 0, 0, 0.5);"}
  .column.left{:style => "height: 100%; width: 33%;"} &nbsp
  .column.middle{:style => "height: 100%; width: 33%;"} &nbsp
  .column.right{:style => "height: 100%; width: 33%;"} &nbsp
