game new full
.center{:style => "position: relative; top: 1%; text-align: center"}
  #startButton{:style => "width: 400px; margin: 0 auto; display: inline-block; height: 70px; background-size: 100% 100%"}

%div{:style => "bottom: 0%; width: 100%; position: absolute; height: 45em; display:flex; padding: 2%;"}
  .left{:style => "height: 100%; width: 33%; padding: 5%;"}
    .column.picturebox{:style => "height: 100%; width: 100%;"}
      %img{:src => "/images/pong_assets/pong_avatar 1 doubles.png", :style => "height: 100%; width: 100%;"}

  .middle{:style => "height: 100%; width: 33%; padding: 5%;"}
    .column.settingsbox{:style => "height: 100%; width: 100%; text-align:center;"}
      .column.gametype{:style => "position: relative; top: 1%; text-align: center"}
        #singlesButton{:style => "width: 150px; height: 60px; margin: 10px auto; display: inline-block; background-size: 100% 100%"}
          &nbsp;
        #doublesButton{:style => "width: 150px; height: 60px; margin: 10px auto; display: inline-block; background-size: 100% 100%"}
          &nbsp;
        #confirmButton{:style => "width: 350px; height: 60px; margin: 10px auto; display: inline-block; background-size: 100% 100%"}
          &nbsp;

  .right{:style => "height: 100%; width: 33%; padding: 5%;"}
    .column.picturebox{:style => "height: 100%; width: 100%;"}
      %img{:src => "/images/pong_assets/pong_avatar 2 doubles.png", :style => "height: 100%; width: 100%;"}
