#room-id=@id
.center{:style => "position: relative; top: 75%;"}
  =form_tag room_game_new_post_path(id: @id) do
    =submit_tag "START QUICK GAME", class: "sf sf-button quick-game center transparent-bg"
