:javascript
  var counter = 5;
  var id;
  id = setInterval(function() {
      counter--;
      if(counter <= 0) {
        window.location.href="/rooms/#{@id}/game/newfull";
        clearInterval(id);
      }
  }, 1000);
