%div.row
  %div.column.small-12
    %h1.street-fighter.sublabel.text-center
      Leaderboard
%div.row
  %div.column.small-9.small-centered
    %table
      %thead
        %tr
          %td
            %h4.street-fighter
              Rank
          %td
            %h4.street-fighter
              Player
          %td
            %h4.street-fighter
              Rating
          %td
            %h4.street-fighter
              Deviation
      %tbody
        - @player_ratings.each_with_index do |player_rating,index|
          - player = player_rating.player
          %tr
            %td
              %h5.street-fighter
                =index + 1
            %td
              %h5.street-fighter
                =link_to(player.name, "/reports/player/#{player.id}", {:class => 'link-label'})
            %td
              %h5.street-fighter
                =(player_rating.skill * 1000).floor
            %td
              %h5.street-fighter
                =player_rating.deviation
