// Place all the styles related to the bathrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #001871;
$secondary: #00a1e0;
$poop: #9a6334;

.white{
  color: white;
}

.background-color-primary {
  background-color: $primary;
}

.background-color-secondary {
  background-color: $secondary;
}

.background-color-ternary {
  background-color: white;
}

.bottom-border-primary {
  border-bottom: 10px solid $primary;
}

.no-margin-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-bottom-15 {
  margin-bottom: 15%;
}

.margin-bottom-10 {
  margin-bottom: 10%
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.bathroom-header {
  position: relative;
  display: inline-block;
  color: white;
  background-color: $secondary;
  border-radius: 50px;
  padding: 12px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  top: -15px;
  font-size: 16px;
}

.occupied-text {
  background-color: $poop;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px;
}

.vacant-text {
  background-color: $secondary;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px;
}

.no-overflow {
    overflow: hidden; 
}
