body.players {
  background-color: #2b2e34;
  font-family: 'street fighter';
}

.title {
  color: #FFEA3D;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

hr.players {
  border-color: white;
  border-width: 5px;
  margin-left: 5em;
  margin-right: 5em
}

.player-button {
  color: white;
  font-size: 2em;
  border: none;
  background: none;
  padding: 0;
}

.player-submit-button {
  font-size: 2em;
  color: white;
  text-align: center;
  border: none;
  background: none;
}

.player-name-input {
  width: 15em;
  background: none;
  color: white;
}

.keyboard-full {
  margin-left:auto;
  width: 40em;
}

.keyboard-characters {
}
