body.players {
  background-color: #2b2e34;
  font-family: 'street fighter';
}

.title {
  color: #FFEA3D;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

hr.players {
  border-color: white;
  border-width: 5px;
  margin: 2em 5em;
}

.center-vertical {
  margin: 4em auto;
  margin-left: auto;
  margin-right: auto;
}
