body.players {
  background-color: #2b2e34;
  font-family: 'street fighter';
}

.title {
  color: #FFEA3D;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

hr.players {
  border-color: white;
  border-width: 5px;
  margin: 2em 0em 3em 0em;
  max-width: 100%;
}

.center-vertical {
  margin: 4em auto;
  margin-left: auto;
  margin-right: auto;
}

.submit-image {
  display:none;
  text-align: center;
  margin: 1em auto;
}

#timer {
  color: white;
  font-size: 10em;
  text-align: center;
  margin: 1em auto;
}

.top.camera {
  height: 5em;
  width: 100%;
  text-align: center;
}
.bottom.camera {
  height: 15em;
  width: 100%;
  text-align: center;
}

.top-text {
  color: white;
  text-align: center;
  font-size: 3em;
}

#question-mark-square {
  width: 30%;
  padding: 5%;
}

.square {
  color: white;
  font-size: 16em;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 50%;
  align-content: center;
  padding:50% 20%;
}

#name-input-section, #pin-input-section {
  padding: 4%;
  border-style: solid;
  border-color: white;
}

#block-inline {
  display: inline-block;
  padding-left: 5%;
  height: 100%;
}

.name-text, .pin-text {
  color: white;
  font-size: 2em;
  display: inline-block;
}

.player-name-text-input, .player-pin-text-input {
  width: 56%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: dashed;
  border-width: medium;;
  color: white;
  font-size: 275%;
  letter-spacing: 0.25em;
  display: inline;
}

.player-name-text-input:focus, .player-pin-text-input:focus {
  background: none;
  background-color: none;
  border: none;
}

.player-button {
  color: white;
  font-size: 2em;
  border: none;
  background: none;
  padding: 0;
}

.player-button-border {
  border: 1px solid gray;
}

.keyboard {
  width: 100%;
  height: 100%;
}

.keyboard-buttons {
  background: none;
  font-size: 3em;
}

.characters {
  width: 100%;
}

.digits {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.characters.delete-row, .digits.delete-row {
  padding-top: 10px;
}

.keyboard-buttons.character, .keyboard-buttons.digit {
  background: none;
  line-height: 150%;
}

.keyboard-buttons.digit.zero {
  margin-left: 1em;
}

.keyboard-buttons.characters:hover, .keyboard-buttons.digits:hover {
  background: none;
}

.delete {
  // background: none;
  font-size: 3em;
  width: 15;
}

.delete:hover {
  background: none;
}

// .submit {
//   width: 85%;
//   border: none;
//   color: rgb(102, 102, 102);
//   text-align: right;
// }

// .submit:hover {
//   color: white;
// }

.submit-cancel-button-container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cancel-button, 
.submit-button, 
.new-badge-for-existing-player-button {
  font-size: 4em;
  background: none;
  color: white;
  border-style: solid;
  border-width: thick;
  display: inline-block;
  line-height: 1em;
}
.cancel-button:hover, 
.submit-button:hover, 
.new-badge-for-existing-player-button:hover {
  background: none;
}

.player-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.player-select .player {
  width: 20%;
  text-align: center;
  padding: 10px;
  border: 5px solid white;
  margin: 10px 5px;
  color: white;
}

.player-select .player:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.player-select .player .player-name {
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}

.login-as-player {
  color: white;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.login-as-player * {
  margin: 10px;
}

.login-as-player .player-icon {
  border: 5px solid white;
  margin-bottom: 0px;
}

.login-as-player .player-name, .login-as-player .pin-entry-label, .login-as-player .pin-entry {
  padding-top: 20px;
}
.login-as-player .pin-entry-label {
  font-size: 0.8em;
  color: white;
}
.login-as-player .pin-entry {
  width: 10em;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: dashed;
  border-width: medium;;
  color: white;
  letter-spacing: 0.25em;
  text-align: center;
}
.login-as-player .submit-pin-entry {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid white;
  background: none;
}

.login-as-player .error {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: red;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}