// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sf {
  font-family: 'street fighter';
  font-weight: normal;
  color: black;
}

h1.sf {
  font-size: 20em;
  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: black;
}

h2.sf {
  font-size: 5em;
  color: black;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: white;
}
h3.sf{  
  font-size: 4em;
  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}
#name {
  text-align: left;
}
.scoring{
  display: table;
  width: 100%;
}
.column{
  display: table-cell;
}
#middle{
  width: 10%;
  text-align: center;
}
#left{
  width: 42%;
  margin-left: 3%;
}
#right{
  margin-right: 3%;
  width: 42%;
}
#room-id {
  visibility: hidden;
}

.center {
  text-align: center;
}

.center-verticle {
  position: relative;
  top: 50%;
}
.progress{
  align-content: center;
  background: white;
  border: 4px solid white;
  height: 50px;

}
.meter{
  height:100%;
  width: 100%;
  display: block;
}
#floatRight{
  float: right;
}
#floatLeft{
  float: left;
}
.meter.blue {
  background: cornflowerblue; }

.meter.red {
  background: #e74c3c; }

.meter.orange {
  background: #e67e22; }

.meter.green {
  background: #2ecc71; }

.meter.purple {
  background: #9b59b6; }

body.rooms.game_new {
  background: url("/images/app_backgrounds/Stage-Select-Background.png");
}
