// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sf {
  font-family: 'street fighter';
  font-weight: normal;
  color: black;
}

h1.sf {
  font-size: 20em;
  color: black;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: white;
}

h2.sf {
  font-size: 5em;
  color: black;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
}
#room-id {
  visibility: hidden;
}

.center {
  text-align: center;
}

.meter.blue {
  background: cornflowerblue; }

.meter.red {
  background: #e74c3c; }

.meter.orange {
  background: #e67e22; }

.meter.green {
  background: #2ecc71; }

.meter.purple {
  background: #9b59b6; }

body.rooms.game_new {
  background: url("/images/app_backgrounds/Stage-Select-Background.png");
  background-size: cover;
}

body.rooms.game_newfull {
  background: url("/images/app_backgrounds/Stage-Select-Background.png");
  background-size: cover;
}

.column {
    flex: 1;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 480px;
    height: 355px;
    background-color: #666;
}
