%div.row
  %div.column.small-8.small-centered
    %div.row
      %div.column.small-8.small-centered
        %h1.sf-label.text-center
          =@player.name
    %div.row
      %div.column.small-5.small-centered.shrink
        %img{:src => @player.image_url}
- @stats.each do |type_name, stats|
  %div.row
    %div.column.small-4
      %h1.sf-label
        =type_name
  %div.row
    %div.column.small-10.small-centered
      %table
        %tbody
          - @players[type_name].each do |label, player_data|
            - label = label.to_s.tr!('_', ' ')
            -player, count = player_data.values_at(:player, :count)
            - if player
              %tr
                %td
                  %h5.sf-label
                    =label
                %td
                  %h5.sf-label
                    =link_to(player.name, "/reports/player/#{player.id}")
              %tr
                %td
                  %h5.sf-label
                    ="#{label} count"
                %td
                  %h5.sf-label
                    = count
          - stats.each do |stat_name, stat_value|
            - if stat_value
              %tr
                %td
                  %h5.sf-label
                    =stat_name
                %td
                  %h5.sf-label
                    =stat_value
