.top-bar
  %ul.vertical.medium-horizontal.menu
    %li
      =link_to "Current Game", root_path
    %li
      =link_to "Leaderboard", report_leaderboard_path
    %li
      =link_to "Players", report_index_path
    %li
      =link_to "Bathroom Status", bathrooms_path